<section class="container">
  <div class="row d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card col-12 pt-5 px-3 card-reset-password" style="width: 50%;">
      <h1>{{ 'RESET_PASSWORD_PAGE.TITLE' | translate }}</h1>
      <form (ngSubmit)="onSubmit()" #fotgotPassword="ngForm">
        <div class="form-group py-3">
          <input placeholder="{{ 'RESET_PASSWORD_PAGE.PLACEHOLDER_PASSWORD' | translate }}"
                 type="password"
                 id="password"
                 name="password"
                 class="form-control"
                 required
                 [(ngModel)]="resetPasswordData.newPassword" />
        </div>
        <div class="form-group py-3">
          <input placeholder="{{ 'RESET_PASSWORD_PAGE.PLACEHOLDER_CONFIRM' | translate }}"
                 type="password"
                 id="confirmPassword"
                 name="confirmPassword"
                 class="form-control"
                 required
                 [(ngModel)]="resetPasswordData.confirmPassword" />
        </div>
        <div class="p-3 col-12 d-flex justify-content-center">
          <button class="btn button-reset-password w-100" type="submit">
            {{ 'RESET_PASSWORD_PAGE.BUTTON' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
