<section class="container">
  <div class="row d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card col-12 pt-5 px-3 card-forgot-password " style="width: 50%;">
      <h1>Have you forgotten your password?</h1>
      <p>Have you remember your password?<a routerLink="/login"><strong>Login</strong></a></p>
      <form (ngSubmit)="onSubmit()" #fotgotPassword="ngForm">
        <div class="form-group py-3">
          <input placeholder="Insert email" type="email" id="email" name="email" class="form-control" required [(ngModel)]="forgotPasswordData.email" />
        </div>
        <div class="p-3 col-12 d-flex justify-content-center">
          <button class="btn button-forgot-password" type="submit">Sent a email</button>
        </div>
      </form>
    </div>
  </div>
</section>